/* Global CSS Presets */
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: sans-serif;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul, ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit; /* Inherit color by default, specific styles will override */
}
