@font-face {
  font-family: 'Baskervville';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Baskervville-Regular.ttf') format('truetype');
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s ease;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}

:root {
  /* Layout */
  --hextra-max-page-width: 90rem;
  --hextra-max-navbar-width: 75rem;
  --hextra-max-footer-width: 75rem;
  --hextra-header-height: 3.5rem;

  /* Cores Semânticas (Modo Claro) */
  --color-background: #d8d8d8;
  --color-background-hover: #cccccc;
  --color-background-active: #e0e0e0;
  --color-text-primary: #3a3a3a;
  --color-text-secondary: #424242;
  --color-text-heading: #444;
  --color-border: #d6d6d6;
  --color-primary: #3094ff;
  --color-primary-hover: #007bff;
  --color-shadow: rgba(0, 0, 0, 0.1);

  /* Cores de Componentes (Modo Claro) */
  --color-header-background: rgba(216, 216, 216, 0.8);
  --color-primary-button-bg: var(--color-primary);
  --color-primary-button-text: #eeeeee;
  --color-primary-button-border: var(--color-primary);

  /* Cores de Destaque (Callouts) */
  --callout-info-border: #3b82f6;
  --callout-info-bg: rgba(59, 130, 246, 0.05);
  --callout-info-icon: #3b82f6;
  --callout-idea-border: #f59e0b;
  --callout-idea-bg: rgba(245, 158, 11, 0.05);
  --callout-idea-icon: #f59e0b;
  --callout-attention-border: #ef4444;
  --callout-attention-bg: rgba(239, 68, 68, 0.05);
  --callout-attention-icon: #ef4444;
  --callout-star-border: #8b5cf6;
  --callout-star-bg: rgba(139, 92, 246, 0.05);
  --callout-star-icon: #8b5cf6;

  /* Utilitários */
  --color-primary-rgb: 0, 123, 255;
}

.dark {
  /* Cores Semânticas (Modo Escuro) */
  --color-background: #1e1e1e;
  --color-background-hover: #2a2a2a;
  --color-background-active: #3a3a3a;
  --color-text-primary: #dfdfdf;
  --color-text-secondary: #ccc;
  --color-text-heading: #e6e6e6;
  --color-border: #333;
  --color-shadow: rgba(0, 0, 0, 0.3);
  --color-primary: #3094ff;
  --color-primary-hover: #007bff;

  /* Cores de Componentes (Modo Escuro) */
  --color-header-background: rgba(30, 30, 30, 0.8);
  --color-primary-button-bg: var(--color-primary);
  --color-primary-button-text: #1e1e1e;
  --color-primary-button-border: var(--color-primary);

  /* Cores de Destaque (Callouts) */
  --callout-info-bg: rgba(59, 130, 246, 0.1);
  --callout-idea-bg: rgba(245, 158, 11, 0.1);
  --callout-attention-bg: rgba(239, 68, 68, 0.1);
  --callout-star-bg: rgba(139, 92, 246, 0.1);
}

a {
  text-decoration: none;
  color: inherit;
  font-family: 'Baskervville', sans-serif;
}


body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-text-primary);
  width: 100%;
  overflow-x: hidden;
  position: relative;
  box-sizing: border-box;
  font-family: 'Baskervville', sans-serif;
}

/* Área de Conteúdo Principal */
main {
  margin: calc(var(--hextra-header-height)) auto .5rem auto;
  max-width: 900px;
  padding: 1rem;
  position: relative;

  /* Títulos */
  & h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 1.9rem 0;
  }

  & h1 {
    font-size: 2.2rem;
  }

  & h2 {
    font-size: 1.7rem;
  }

  & h3 {
    font-size: 1.5rem;
  }

  /* Parágrafos e Listas */
  & p,
  & li {
    color: var(--color-text-primary);
    font-size: 1.3rem;
  }

  & p {
    line-height: 1.8rem;
  }

  /* Links */
  & a {
    color: var(--color-primary);
    text-decoration: underline;

    &:hover {
      color: var(--color-primary-hover);
    }
  }

  & blockquote {
    border-left: 4px solid var(--color-border);
    padding-left: 1em;
    margin: 1.5em 0;
    color: var(--color-text-secondary);
    transition: border-color 0.3s ease, color 0.3s ease;
  }

  & pre {
    border-radius: 4px;
    padding: 1em;
    overflow-x: auto;
    margin-bottom: 1em;
    background-color: var(--color-background-hover);
  }

  & code {
    font-family: Courier, monospace;
    font-size: 1rem;
    background-color: var(--color-background-hover);
    padding: 0.1em 0.4em;
    border-radius: 3px;
  }

  & img {
    width: 100%;
    height: auto;
    display: block;
    margin: 2rem auto;
    border-radius: 4px;
    background-color: var(--color-background-hover);
    padding: .2rem;
  }

  & article {
    
    & .author,
    & .date-published,
    & .categories {
      display: flex;
      align-items: center;
      column-gap: 1rem;
      margin-bottom: .5rem;

      & svg {
        width: 20px;
        height: 20px;
      }

      & time {
        font-style: oblique;
        font-size: 1.3rem;
      }

    }

    & .markdown-content {
      margin-top: 3rem;

      & img {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
        transition: 200ms ease-in;
        
        &:hover{
          filter: brightness(110%);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.342); 
        }
      }
    }

  }

  & .title-posts-related {
    margin-top: 5rem;
  }

}

.content-placeholder {
  width: 100%;
  margin: 2rem auto;
}

.placeholder-title {
  height: 5rem;
  background-color: var(--color-background-hover);
  margin-bottom: 3rem;
  border-radius: 4px;
  animation: pulse 1.5s infinite ease-in-out;
}

.placeholder-meta {
  max-width: 200px;
  margin-bottom: 3rem;
}

.placeholder-line {
  height: 1rem;
  width: 100%;
  background-color: var(--color-background-hover);
  margin-bottom: 1rem;
  border-radius: 4px;
  animation: pulse 1.5s infinite ease-in-out;
}

.placeholder-line.short {
  max-width: 300px;
  margin-bottom: 2.5rem;
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s ease;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}

/* CSS equaçoes matemáticas */

/* Declarações de fontes mínimas */
@font-face {
  font-family: 'KaTeX_Main';
  src: url('/fonts/KaTeX_Main-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KaTeX_Math';
  src: url('/fonts/KaTeX_Math-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

.katex-display {
    display: block;
    text-align: center;
    overflow-x: auto;
}

.katex {
    font: normal 1.21em KaTeX_Main, Times New Roman, serif;
    color: var(--color-text-primary);
    line-height: 1.2;
    text-indent: 0;
    text-rendering: auto;
    margin: 1rem 0;
    width: 100%;
}

.mtight{
    font-size: 1rem;
}

.mrel{
    font-size: 1.1rem;
}

.katex .katex-mathml {
    clip: rect(1px, 1px, 1px, 1px);
    border: 0;
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.katex .base {
    position: relative;
    white-space: nowrap;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content
}

.katex .textrm {
    font-family: KaTeX_Main
}


.katex .mathnormal {
    font-family: KaTeX_Math;
    font-style: italic;
}

.katex .mathit {
    font-family: KaTeX_Main;
    font-style: italic
}

.katex .mathrm {
    font-style: normal
}

.katex .mathbf {
    font-family: KaTeX_Main;
    font-weight: 700
}

.katex .mainrm {
    font-family: KaTeX_Main;
    font-style: normal
}

.katex .vlist-t {
    border-collapse: collapse;
    display: inline-table;
    table-layout: fixed
}

.katex .vlist-r {
    display: table-row
}

.katex .vlist {
    display: table-cell;
    position: relative;
    vertical-align: bottom
}

.katex .vlist>span {
    display: block;
    height: 0;
    position: relative
}

.katex .vlist>span>span {
    display: inline-block
}

.katex .vlist>span>.pstrut {
    overflow: hidden;
    width: 0
}

.katex .vlist-t2 {
    margin-right: -2px
}

.katex .vlist-s {
    display: table-cell;
    font-size: 1px;
    min-width: 2px;
    vertical-align: bottom;
    width: 2px
}

.katex .vbox {
    align-items: baseline;
    display: inline-flex;
    flex-direction: column
}

.katex .hbox {
    width: 100%
}

.katex .hbox,
.katex .thinbox {
    display: inline-flex;
    flex-direction: row
}

.katex .thinbox {
    max-width: 0;
    width: 0
}

.katex .msupsub {
    text-align: left
}

.katex .mfrac>span>span {
    text-align: center
}

.katex .mfrac .frac-line {
    border-bottom-style: solid;
    display: inline-block;
    width: 100%
}

.katex .hdashline,
.katex .hline,
.katex .mfrac .frac-line,
.katex .overline .overline-line,
.katex .rule,
.katex .underline .underline-line {
    min-height: 1px
}

.katex .mspace {
    display: inline-block
}

.katex .clap,
.katex .llap,
.katex .rlap {
    position: relative;
    width: 0
}

.katex .clap>.inner,
.katex .llap>.inner,
.katex .rlap>.inner {
    position: absolute
}

.katex .clap>.fix,
.katex .llap>.fix,
.katex .rlap>.fix {
    display: inline-block
}

.katex .llap>.inner {
    right: 0
}

.katex .clap>.inner,
.katex .rlap>.inner {
    left: 0
}

.katex .clap>.inner>span {
    margin-left: -50%;
    margin-right: 50%
}

.katex .rule {
    border: 0 solid;
    display: inline-block;
    position: relative
}

.katex .hline,
.katex .overline .overline-line,
.katex .underline .underline-line {
    border-bottom-style: solid;
    display: inline-block;
    width: 100%
}

.katex .hdashline {
    border-bottom-style: dashed;
    display: inline-block;
    width: 100%
}

.katex .sqrt>.root {
    margin-left: .2777777778em;
    margin-right: -.5555555556em
}

.katex .accent>.vlist-t,
.katex .op-limits>.vlist-t {
    text-align: center
}

.katex .accent .accent-body {
    position: relative
}

.katex .accent .accent-body:not(.accent-full) {
    width: 0
}

.katex .overlay {
    display: block
}

.katex .mtable .vertical-separator {
    display: inline-block;
    min-width: 1px
}

.katex .mtable .arraycolsep {
    display: inline-block
}

.katex .mtable .col-align-c>.vlist-t {
    text-align: center
}

.katex .mtable .col-align-l>.vlist-t {
    text-align: left
}

.katex .mtable .col-align-r>.vlist-t {
    text-align: right
}

.katex .svg-align {
    text-align: left
}

.katex svg {
    fill: currentColor;
    stroke: currentColor;
    fill-rule: nonzero;
    fill-opacity: 1;
    stroke-width: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-dashoffset: 0;
    stroke-opacity: 1;
    display: block;
    height: inherit;
    position: absolute;
    width: 100%
}

.katex svg path {
    stroke: none
}

.katex img {
    border-style: none;
    max-height: none;
    max-width: none;
    min-height: 0;
    min-width: 0
}

.katex .stretchy {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%
}

.katex .stretchy:after,
.katex .stretchy:before {
    content: ""
}

.katex .hide-tail {
    overflow: hidden;
    position: relative;
    width: 100%
}

.katex .halfarrow-left {
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 50.2%
}

.katex .halfarrow-right {
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 50.2%
}

.katex .brace-left {
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 25.1%
}

.katex .brace-center {
    left: 25%;
    overflow: hidden;
    position: absolute;
    width: 50%
}

.katex .brace-right {
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 25.1%
}

.katex .x-arrow-pad {
    padding: 0 .5em
}

.katex .cd-arrow-pad {
    padding: 0 .55556em 0 .27778em
}

.katex .mover,
.katex .munder,
.katex .x-arrow {
    text-align: center
}

.katex .boxpad {
    padding: 0 .3em
}

.katex .fbox,
.katex .fcolorbox {
    border: .04em solid;
    box-sizing: border-box
}

.katex .cancel-pad {
    padding: 0 .2em
}

.katex .cancel-lap {
    margin-left: -.2em;
    margin-right: -.2em
}

.katex .sout {
    border-bottom-style: solid;
    border-bottom-width: .08em
}

.katex .angl {
    border-right: .049em solid;
    border-top: .049em solid;
    box-sizing: border-box;
    margin-right: .03889em
}

.katex .anglpad {
    padding: 0 .03889em
}

.katex .eqn-num:before {
    content: "(" counter(katexEqnNo) ")";
    counter-increment: katexEqnNo
}

.katex .mml-eqn-num:before {
    content: "(" counter(mmlEqnNo) ")";
    counter-increment: mmlEqnNo
}

.katex .mtr-glue {
    width: 50%
}

.katex .cd-vert-arrow {
    display: inline-block;
    position: relative
}

.katex .cd-label-left {
    display: inline-block;
    position: absolute;
    right: calc(50% + .3em);
    text-align: left
}

.katex .cd-label-right {
    display: inline-block;
    left: calc(50% + .3em);
    position: absolute;
    text-align: right
}

.katex-display>.katex {
    display: block;
    text-align: center;
    white-space: nowrap
}

.katex-display>.katex>.katex-html {
    display: block;
    position: relative
}

.katex-display>.katex>.katex-html>.tag {
    position: absolute;
    right: 0
}

.katex-display.leqno>.katex>.katex-html>.tag {
    left: 0;
    right: auto
}

.katex-display.fleqn>.katex {
    padding-left: 2em;
    text-align: left
}
